<!DOCTYPE html>
<html>
<head>
  <title>Ligare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
<div class="row">
	<div class="col-12 mt-3">
		<h4 class="float-left mx-2">Ligare</h4>
		<%= link_to "Search Classes", root_url, { class: "float-left btn-top px-2 pt-1 mr-3" } unless current_page?(root_path) %>
		<%= link_to "New category", new_category_path, { class: "float-right btn-top px-2 pt-1 mr-3" } %>
		<%= link_to "Teach a class", nil, { class: "float-right btn-top px-2 pt-1 mr-3" } %>
		<%= link_to "Pitch a class", nil, { class: "float-right btn-top px-2 pt-1 mr-3" } %>
	</div>
	</div>
</div>
<%= yield %>
</div>
</body>
</html>
